<html>
<head>
  <title>Positive Feedback System 管理画面</title>
</head>
<body>
<%= render :partial => "layouts/admin/header", :use_full_path => true %>
<%= yield %>
<%= render :partial => "layouts/admin/footer", :use_full_path => true %>
</body>
</html>
