<table>
  <tr>
    <th>ID</th>
    <td><%= @star.id %></td>
  </tr>
  <tr>
    <th>送り主</th>
    <td><%= @star.sender.name %></td>
  </tr>
  <tr>
    <th>受取主</th>
    <td><%= @star.receiver.name %></td>
  </tr>
  <tr>
    <th>活動内容</th>
    <td><%= @star.activity.name %></td>
  </tr>
</table>
