<table>
  <tr>
    <th>ID</th>
    <td><%= @role.id %></td>
  </tr>
  <tr>
    <th>役割名</th>
    <td><%= @role.name %></td>
  </tr>
  <tr>
    <th>初期<%= show_stars %>の数</th>
    <td><%= @role.default_stars %></td>
  </tr>
</table>
