<table>
  <tr>
    <th>ID</th>
    <th>役割名</th>
    <th>初期<%= show_stars %>の数</th>
  </tr>
  <% @roles.each do |r| %>
    <tr>
      <td><%= link_to("#{r.id}", :action => :edit, :id => r.id) %></td>
      <td><%= r.name %></td>
      <td><%= show_stars(:number => r.default_stars, :big_star => true) %></td>
    </tr>
  <% end %>
</table>
