<table>
  <tr>
    <th>ID</th>
    <td><%= @activity.id %></td>
  </tr>
  <tr>
    <th>活動内容</th>
    <td><%= @activity.name %></td>
  </tr>
  <tr>
    <th>活動詳細</th>
    <td><%= @activity.detail %></td>
  </tr>
</table>
